/* GTK Vars */
@define-color bg-color #313244;
@define-color fg-color #cdd6f4;
@define-color primary-color #89b4fa;
@define-color secondary-color #cba6f7;
@define-color border-color @primary-color;
@define-color selected-bg-color @primary-color;
@define-color selected-fg-color @bg-color;

* {
  all: unset;
  font-family: 'Rubik';
  font-weight: 400;
}

#window {
  background: transparent;
}

box#main {
  border-radius: 16px;
  background-color: alpha(@bg-color, 0.8);
  border: 0.5px solid alpha(@fg-color, 0.25);
}

entry#entry {
  font-size: 1.5rem;
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 16px;
  padding: 16px 24px;
  min-height: 30px;
  caret-color: @primary-color;
}

list#main {
  background-color: transparent;
}

#plugin {
  background-color: transparent;
  /* padding-bottom: 4px; */
}

#match {
  font-size: 1.25rem;
  padding: 4px 8px;
}

#match:last-child {
  border-radius: 0 0 15px 15px;
}

#match:selected,
#match:hover {
  background-color: @selected-bg-color;
  color: @selected-fg-color;
}

#match:selected label#info,
#match:hover label#info {
  color: @selected-fg-color;
}

#match:selected label#match-desc,
#match:hover label#match-desc {
  color: alpha(@selected-fg-color, 0.9);
}

#match label#info {
  color: transparent;
  color: @fg-color;
}

label#match-desc {
  font-size: 1rem;
  font-weight: 300;
  color: @fg-color;
}

label#plugin {
  font-size: 16px;
}