layout {
    gaps 3

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off
    }

    border {
        on
        width 1
        active-color "#dc8a78"
        inactive-color "#4c4f69"
        urgent-color "#df8e1d"
    }

    struts {
        left 5
        right 5
        // top 64
        // bottom 64
    }
}


cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 12
}


window-rule {
    match is-window-cast-target=true

    border {
        active-color "#8839ef"
        inactive-color "#d20f39"
    }
}


window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}
