
// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules


window-rule {
    match app-id=r#"^firefox-developer-edition$"# title="^Picture-in-Picture$"
    open-floating true
}


window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    match app-id=r#"^firefox-developer-edition$"# title=r#"Bitwarden"#
    match app-id=r#"^firefox-developer-edition$"# title=r#"Cinny "#
    match app-id=r#"^firefox-developer-edition$"# title=r#"Discord"#
    match app-id=r#"^firefox-developer-edition$"# title=r#"Microsoft Teams"#
    match app-id=r#"^firefox-developer-edition$"# title=r#"Outlook"#
    match app-id=r#"^firefox-developer-edition$"# title=r#"Slack"#
    match app-id=r#"^firefox-developer-edition$"# title=r#"WhatsApp"#

    match app-id=r#"^kitty$"# title=r#"^mutt$"#

    block-out-from "screencast"
    // block-out-from "screen-capture"
}
